{% extends 'blogs/base.html' %}

{% block content %}
  <div class="container my-3" >
    <h1>Contact SugarCare Team</h1>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
          <strong>Message:</strong> {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="form-group my-3"></div>
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="name">    
      </div>

      <div class="form-group my-3">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="phone" class="form-control" id="phone" name="phone">
      </div>

      <div class="form-group">
        <label for="content">How may we help you?</label>
        <textarea id="content" class="form-control" name="content" cols="30" rows="5"></textarea>
      </div>  
      <button type="submit" class="btn btn-primary my-3">Submit</button>
    </form>
  </div>
{% endblock %}
